/*	Lantern Style Sheet
	================================================

	This is where you can modify the visual behaviour.

	This stylesheet presumes that the elements have
	the following ids:

		#background		Background screen while showing
		#lantern		Image Container
		#caption		Caption for image

	It also presumes that you are using the following
	additional attribute name

		[showing]		While everything is showing

	You can change the ids and attribute name in the
	JavaScript options:

		var options = {
			background:		'background',	//	id of background
			div:			'lantern',		//	id of container
			caption:		'caption',		//	id of title
			showing:		'showing',		//	attribute when showing

			//	etc
		};

	This style sheet is divided into the following sections:

	Required	These reules are required to make the
				effect work at all.
				You probably should leave these alone.
				This will be moved to the JavaScript.

	Useful		Some basic CSS to make the image container
				and caption look right.

	Fancy		Some additional CSS, mostly CSS3, to make
				the effect much more interesting.
				Knock yourself out.
				CSS3 won’t work on legacy browersers of course,
				but that’s not important.

	================================================ */

/*	Required
	================================================ */

body {
border: thick solid red !important;
}

	div#background, div#lantern, div#caption {

	}

	div#background {

	}
	div#background[showing] {

	}

	div#lantern {

	}

/*	Useful
	================================================ */

	div#lantern {
		position: fixed;
		padding: 1em;
		background-color: #f8f8f8;
		background-color: #ddd;
		border: thin solid #666;
	}
	div#caption {
		font-size: 1.2em;
		text-align: center;
		font-family: sans-serif;
		font-weight: bold;
		margin: 0;
		padding: .75em;
	}

/*	Fancy
	================================================ */

	div#background {
		transition: all 1s;
	}

	@keyframes pulsing {
		from {
			background-position: 0 0;
		}
		50% {
			background-position: 0 50%;
		}
		to {
			background-position: 0 100%;
		}
	}

	div#lantern {
		border-radius: 8px;
		box-shadow: inset 4px 4px 2px white, inset -4px -4px 4px #999, 4px 4px 4px #000;
		background-image: linear-gradient(-15deg, #ddd 30%, #eee 50%, #ddd 60%, #eee 90%);
		background-size: 100% 200%;
		animation: pulsing 2s infinite alternate;
		transform: scale(0);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	div#lantern img {
		border-radius: 8px;
		box-shadow: inset 4px 4px 2px #999, inset -4px -4px 4px white;
		padding: 4px;
	}


	div#lantern[showing] {
		transform: scale(1);
	}

	div#caption {
		color: #666;
		border-radius: 4px;
		box-shadow: inset 4px 4px 2px #999, inset -4px -4px 4px white;
	}

	div#background[showing] {
		border: thick solid #999;
	}
